<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HI</title>
</head>
<body>
  <ul>
  <% for(var l1 in data) { %>
    <% if (help.gettype(data[l1]) === "number") { %>
    <li><%= l1 %> = <%= data[l1] %></li>
    <% } else { %>
    <li>
      <ul>
      <% for(var l2 in data[l1]) { %>
        <li><ul>
        <li><a href="<%= help.campaignid(data[l1][l2]) %>"><%= data[l1][l2].name %></a></li>
        <% for(var l3 in data[l1][l2]) { %>
          <li><%= l3 %> = <%= data[l1][l2][l3] %></li>
        <% } %>
        </ul></li>
      <% } %>
      </ul>
    </li>
    <% } %>
  <% } %>
  </ul>
</body>
</html>
